*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
body{
    background: blue;
    color:white;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:auto;
    margin-top: rem;
    
}

.btn{
    display: flex;
    gap: 2rem;
}

